# Lending Club Case Study

### Importing required libraries

In [2]:
import pandas as pd

### Getting error saying to set low_memory=False or use dtype to save memory. Used dtype to save memory

In [3]:
df = pd.read_csv('/Users/ejanjanam/Downloads/loan.csv', dtype = {
    'id': int,
    'member_id': int,
    'loan_amnt': int,
    'funded_amnt': int,
    'funded_amnt_inv': float,
    'term': str,
    'int_rate': str,
    'installment': float,
    'grade': str,
    'sub_grade': str,
    'emp_title': str,
    'emp_length': str,
    'home_ownership': str,
    'annual_inc': float,
    'verification_status': str,
    'issue_d': str,
    'loan_status': str,
    'pymnt_plan': str,
    'url': str,
    'desc': str,
    'purpose': str,
    'title': str,
    'zip_code': str,
    'addr_state': str,
    'dti': float,
    'delinq_2yrs': int,
    'earliest_cr_line': str,
    'inq_last_6mths': int,
    'mths_since_last_delinq': str,
    'mths_since_last_record': str,
    'open_acc': int,
    'pub_rec': int,
    'revol_bal': int,
    'revol_util': str,
    'total_acc': int,
    'initial_list_status': str,
    'out_prncp': float,
    'out_prncp_inv': float,
    'total_pymnt': float,
    'total_pymnt_inv': float,
    'total_rec_prncp': float,
    'total_rec_int': float,
    'total_rec_late_fee': float,
    'recoveries': float,
    'collection_recovery_fee': float,
    'last_pymnt_d': str,
    'last_pymnt_amnt': float,
    'next_pymnt_d': str,
    'last_credit_pull_d': str,
    'collections_12_mths_ex_med': str,
    'mths_since_last_major_derog': str,
    'policy_code': int,
    'application_type': str,
    'annual_inc_joint': str,
    'dti_joint': str,
    'verification_status_joint': str,
    'acc_now_delinq': int,
    'tot_coll_amt': str,
    'tot_cur_bal': str,
    'open_acc_6m': str,
    'open_il_6m': str,
    'open_il_12m': str,
    'open_il_24m': str,
    'mths_since_rcnt_il': str,
    'total_bal_il': str,
    'il_util': str,
    'open_rv_12m': str,
    'open_rv_24m': str,
    'max_bal_bc': str,
    'all_util': str,
    'total_rev_hi_lim': str,
    'inq_fi': str,
    'total_cu_tl': str,
    'inq_last_12m': str,
    'acc_open_past_24mths': str,
    'avg_cur_bal': str,
    'bc_open_to_buy': str,
    'bc_util': str,
    'chargeoff_within_12_mths': str,
    'delinq_amnt': int,
    'mo_sin_old_il_acct': str,
    'mo_sin_old_rev_tl_op': str,
    'mo_sin_rcnt_rev_tl_op': str,
    'mo_sin_rcnt_tl': str,
    'mort_acc': str,
    'mths_since_recent_bc': str,
    'mths_since_recent_bc_dlq': str,
    'mths_since_recent_inq': str,
    'mths_since_recent_revol_delinq': str,
    'num_accts_ever_120_pd': str,
    'num_actv_bc_tl': str,
    'num_actv_rev_tl': str,
    'num_bc_sats': str,
    'num_bc_tl': str,
    'num_il_tl': str,
    'num_op_rev_tl': str,
    'num_rev_accts': str,
    'num_rev_tl_bal_gt_0': str,
    'num_sats': str,
    'num_tl_120dpd_2m': str,
    'num_tl_30dpd': str,
    'num_tl_90g_dpd_24m': str,
    'num_tl_op_past_12m': str,
    'pct_tl_nvr_dlq': str,
    'percent_bc_gt_75': str,
    'pub_rec_bankruptcies': str,
    'tax_liens': str,
    'tot_hi_cred_lim': str,
    'total_bal_ex_mort': str,
    'total_bc_limit': str,
    'total_il_high_credit_limit': str
})

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

### Check how many columns are completely null

In [5]:
# print(round(df.isnull().mean()*100).to_markdown())
len(df.columns[df.isnull().all()])

54

### Dropping all null columns

In [6]:
all_null_columns = df[df.columns[df.isnull().all()]].columns
df = df.drop(columns=all_null_columns)
df.shape

(39717, 57)

### Calculating the percentage of nulls in remaining columns

In [7]:
round(df.isnull().sum()*100 / len(df), 2)

id                             0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
emp_title                      6.19
emp_length                     2.71
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
desc                          32.59
purpose                        0.00
title                          0.03
zip_code                       0.00
addr_state                     0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
mths_since_last_delinq        64.66
mths_since_last_record        92.99
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
revol_util                     0.13
total_acc                      0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
collection_recovery_fee        0.00
last_pymnt_d                   0.18
last_pymnt_amnt                0.00
next_pymnt_d                  97.13
last_credit_pull_d             0.01
collections_12_mths_ex_med     0.14
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
chargeoff_within_12_mths       0.14
delinq_amnt                    0.00
pub_rec_bankruptcies           1.75
tax_liens                      0.10
dtype: float64

### Dropping 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d' as there are many null values

In [8]:
df = df.drop(columns=['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d'])
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0,1,INDIVIDUAL,0,0,0,0,0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0,1,INDIVIDUAL,0,0,0,0,0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0,1,INDIVIDUAL,0,0,0,0,0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0,1,INDIVIDUAL,0,0,0,0,0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0,1,INDIVIDUAL,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,80.90,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,281.94,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,256.59,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [14]:
# df['emp_length'].isnull().sum()
# (df['emp_length'] == '10+ years').sum()
# len(df[df['emp_length'] == '10+ years'])*100 / len(df)
# df['emp_length'].value_counts()
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64